/* .v_flex{
    display: flex;
    flex-direction: column ;
} */
/* .commentBox{
    border: 1px solid grey;
    

 
} */
.commentText{
    word-wrap: break-word;
    hyphens: auto;
    border: none;
    padding: 10px;
    border-radius: 40px 10px;
    color: #f3f4f6;
    background-image: linear-gradient(#374151, #4b5563);
}